# Data Understanding

In [8]:
#Import All required packages
import pandas as pd
import numpy as np
from dateutil.relativedelta import relativedelta
import matplotlib.pyplot as plt
import seaborn as sns

# Exploring Data Properties

In [15]:
print("Colums present in dataFrame are",data.columns.values)

Colums present in dataFrame are ['key' 'id' 'item_id' 'dept_id' 'cat_id' 'store_id' 'state_id' 'd' 'sales'
 'date' 'wm_yr_wk' 'event_name' 'event_type' 'sell_price']

In [16]:
print("Complete information about data Frame is:-\n")
print(data.info())

Complete information about data Frame is:-

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3902833 entries, 0 to 3902832
Data columns (total 14 columns):
 #   Column      Dtype
---  ------      -----
 0   key         object
 1   id          object
 2   item_id     object
 3   dept_id     object
 4   cat_id      object
 5   store_id    object
 6   state_id    object
 7   d           int64
 8   sales       int64
 9   date        object
 10  wm_yr_wk    int64
 11  event_name  object
 12  event_type  object
 13  sell_price  float64
dtypes: float64(1), int64(3), object(10)
memory usage: 416.9+ MB
None

In [5]:
print("There are these unique stores in this data=",data['store_id'].unique())

There are these unique stores in this data= ['CA_1' 'CA_2' 'CA_3' 'CA_4' 'TX_1' 'TX_2' 'TX_3' 'WI_1' 'WI_2' 'WI_3']

In [17]:

# Convert the 'date' column to datetime
data['date'] = pd.to_datetime(data['date'])

# Find the minimum and maximum dates
min_date = data['date'].min()
max_date = data['date'].max()

# Calculate the duration in months
duration = relativedelta(max_date, min_date)
months_duration = duration.years * 12 + duration.months
print(f"time period: {min_date},{max_date}")
print(f"Duration in months: {months_duration}")

time period: 2011-02-06 00:00:00,2016-05-08 00:00:00
Duration in months: 63

# Exploratory Data Analysis

**[1]**  Bar plot and Pie of Sales distribution

In [ ]:
df=data.groupby('cat_id').mean()
df.reset_index(level=0,inplace=True)
plt.figure(figsize=(20,10))
plt.subplot(121)
sns.barplot(x='cat_id',y='sales',data=df)
plt.title("Bar-Graph for Avg Sales According to each categories")

plt.subplot(122)
df=data.groupby('cat_id').sum()
df.reset_index(level=0,inplace=True)
df['perc']=df['sales']/sum(df['sales'].values)*100
plt.pie(df['perc'].values,labels=df['cat_id'].values,shadow=True,autopct='%1.1f%%')
plt.title("Pie Chart showing total sales for each categories")
plt.show()

In [ ]:
# Bar Chart showing distribution of Sales across thr various states 

df=data.groupby('state_id').mean()
df.reset_index(level=0,inplace=True)
plt.figure(figsize=(20,10))
plt.subplot(121)
sns.barplot(x='state_id',y='sales',data=df)
plt.title("Bar-Graph for Avg Sales According to each state")