In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [2]:
!pip install -i https://test.pypi.org/simple/ code_pkg==2024.0.1.0

Looking in indexes: https://test.pypi.org/simple/
Requirement already satisfied: code_pkg==2024.0.1.0 in /Users/thusondube/Library/Caches/pypoetry/virtualenvs/adv-mla-lab-2-5yQ4FX6i-py3.10/lib/python3.10/site-packages (2024.0.1.0)

In [3]:
df = pd.read_csv('/Users/thusondube/Documents/UTS2024/Assignments/A2_24542250/data/processed/sales.npy')

In [ ]:
df.head()

In [4]:
from code_pkg.features.dates import convert_to_date

In [5]:
df = convert_to_date(df, ['date'])

In [6]:
# Extracting the day of week and adding as a new column
df['weekday'] = df['date'].dt.dayofweek
# Extracting the day of week and adding as a new column

In [7]:
num_cols = ['sales','sell_price']

In [8]:
cat_cols = ['store_id','dept_id','cat_id','state_id','event_name','event_type']

In [9]:
label_encoder = LabelEncoder()


for column in cat_cols:
    df[column + '_encoded'] = label_encoder.fit_transform(df[column])

In [10]:
from code_pkg.data.sets import split_sets_by_time


X_train, y_train, X_val, y_val, X_test, y_test = split_sets_by_time(df,'sales',test_ratio=0.2)

In [11]:
from code_pkg.data.sets import save_sets

In [13]:
save_sets(X_train, y_train, X_val, y_val, X_test, y_test, path='/Users/thusondube/Documents/UTS2024/Assignments/A2_24542250/data/processed/')

In [20]:
def if_weekends(df,weekends = [5,6]):
    if df in weekends:
        return 1
    else:
        return 0

In [21]:
df['if_weekend']=df['weekday'].apply(if_weekends)

In [19]:
df.head()

,key,id,item_id,dept_id,cat_id,store_id,state_id,d,sales,date,...,event_type,sell_price,weekday,store_id_encoded,dept_id_encoded,cat_id_encoded,state_id_encoded,event_name_encoded,event_type_encoded,if_weekend
0,train,HOBBIES_1_008_CA_1_evaluation,HOBBIES_1_008,HOBBIES_1,HOBBIES,CA_1,CA,9,7,2011-02-06,...,Sporting,0.46,6,0,3,1,0,26,3,0
1,train,HOBBIES_1_009_CA_1_evaluation,HOBBIES_1_009,HOBBIES_1,HOBBIES,CA_1,CA,9,0,2011-02-06,...,Sporting,1.56,6,0,3,1,0,26,3,0
2,train,HOBBIES_1_010_CA_1_evaluation,HOBBIES_1_010,HOBBIES_1,HOBBIES,CA_1,CA,9,0,2011-02-06,...,Sporting,3.17,6,0,3,1,0,26,3,0
3,train,HOBBIES_1_012_CA_1_evaluation,HOBBIES_1_012,HOBBIES_1,HOBBIES,CA_1,CA,9,0,2011-02-06,...,Sporting,5.98,6,0,3,1,0,26,3,0
4,train,HOBBIES_1_015_CA_1_evaluation,HOBBIES_1_015,HOBBIES_1,HOBBIES,CA_1,CA,9,0,2011-02-06,...,Sporting,0.70,6,0,3,1,0,26,3,0