In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [2]:
!pip install -i https://test.pypi.org/simple/ code_pkg==2024.0.1.0

Looking in indexes: https://test.pypi.org/simple/
Requirement already satisfied: code_pkg==2024.0.1.0 in /Users/thusondube/Library/Caches/pypoetry/virtualenvs/adv-mla-lab-2-5yQ4FX6i-py3.10/lib/python3.10/site-packages (2024.0.1.0)

In [40]:
df = pd.read_csv('/Users/thusondube/Documents/UTS2024/Assignments/A2_24542250/data/processed/sales.npy')

In [ ]:
df.head()

In [41]:
from code_pkg.features.dates import convert_to_date

In [42]:
df = convert_to_date(df, ['date'])

In [43]:
# Extracting the day of week and adding as a new column
df['weekday'] = df['date'].dt.dayofweek
# Extracting the day of week and adding as a new column

In [64]:
def datetime_to_integer(df, datetime_column):
    """
    Converts a datetime column in a DataFrame to an integer representing the number of seconds since the Unix epoch.

    Parameters:
    df (pd.DataFrame): The DataFrame containing the datetime column.
    datetime_column (str): The name of the datetime column to convert.

    Returns:
    pd.DataFrame: The DataFrame with the datetime column converted to an integer.
    """
    df[datetime_column + '_int'] = df[datetime_column].astype(int) // 10**9
    return df

In [65]:
df = datetime_to_integer(df, 'date')

In [74]:
def datetime_to_day_month_year(df, datetime_column):
    """
    Converts a datetime column in a DataFrame into separate columns for day, month, and year.

    Parameters:
    df (pd.DataFrame): The DataFrame containing the datetime column.
    datetime_column (str): The name of the datetime column to convert.

    Returns:
    pd.DataFrame: The DataFrame with separate columns for day, month, and year.
    """
    df[datetime_column] = pd.to_datetime(df[datetime_column])
    df['day'] = df[datetime_column].dt.day
    df['month'] = df[datetime_column].dt.month
    df['year'] = df[datetime_column].dt.year
    return df

In [75]:
df = datetime_to_day_month_year(df,'date')

In [76]:
df.head()

,key,id,item_id,dept_id,cat_id,store_id,state_id,d,sales,date,...,cat_id_encoded,item_id_encoded,state_id_encoded,event_name_encoded,event_type_encoded,date_encoded,date_int,day,month,year
0,train,HOBBIES_1_008_CA_1_evaluation,HOBBIES_1_008,HOBBIES_1,HOBBIES,CA_1,CA,9,7,2011-02-06,...,1,1444,0,26,3,0,1296950400,6,2,2011
1,train,HOBBIES_1_009_CA_1_evaluation,HOBBIES_1_009,HOBBIES_1,HOBBIES,CA_1,CA,9,0,2011-02-06,...,1,1445,0,26,3,0,1296950400,6,2,2011
2,train,HOBBIES_1_010_CA_1_evaluation,HOBBIES_1_010,HOBBIES_1,HOBBIES,CA_1,CA,9,0,2011-02-06,...,1,1446,0,26,3,0,1296950400,6,2,2011
3,train,HOBBIES_1_012_CA_1_evaluation,HOBBIES_1_012,HOBBIES_1,HOBBIES,CA_1,CA,9,0,2011-02-06,...,1,1448,0,26,3,0,1296950400,6,2,2011
4,train,HOBBIES_1_015_CA_1_evaluation,HOBBIES_1_015,HOBBIES_1,HOBBIES,CA_1,CA,9,0,2011-02-06,...,1,1451,0,26,3,0,1296950400,6,2,2011

In [79]:
num_cols = ['sales','sell_price','date_int','weekday','day','month','year']

In [80]:
cat_cols = ['store_id','dept_id','cat_id','item_id','state_id','event_name','event_type']

In [55]:
label_encoder = LabelEncoder()


for column in cat_cols:
    df[column + '_encoded'] = label_encoder.fit_transform(df[column])

X_test['category_col'] = label_encoder.inverse_transform(X_test['category_col_encoded'])
print(X_test)

KeyError: 'category_col_encoded'

In [61]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

def encode_and_combine_columns(df, num_cols, cat_cols):
    """
    Encodes categorical columns in a DataFrame using LabelEncoder, drops the original columns,
    and combines the numerical columns with the encoded categorical columns.

    Parameters:
    df (pd.DataFrame): The DataFrame containing the categorical and numerical columns.
    num_cols (list): The list of numerical columns to keep.
    cat_cols (list): The list of categorical columns to encode and drop.

    Returns:
    pd.DataFrame: A new DataFrame with numerical columns and encoded categorical columns.
    """
    label_encoder = LabelEncoder()
    for column in cat_cols:
        df[column + '_encoded'] = label_encoder.fit_transform(df[column])
    
    # Create a new DataFrame with numerical columns and encoded categorical columns
    new_df = df[num_cols + [column + '_encoded' for column in cat_cols]].copy()
    
    return new_df

In [81]:
new_df = encode_and_combine_columns(df, num_cols, cat_cols)

In [82]:
new_df

,sales,sell_price,date_int,weekday,day,month,year,store_id_encoded,dept_id_encoded,cat_id_encoded,item_id_encoded,state_id_encoded,event_name_encoded,event_type_encoded
0,7,0.46,1296950400,6,6,2,2011,0,3,1,1444,0,26,3
1,0,1.56,1296950400,6,6,2,2011,0,3,1,1445,0,26,3
2,0,3.17,1296950400,6,6,2,2011,0,3,1,1446,0,26,3
3,0,5.98,1296950400,6,6,2,2011,0,3,1,1448,0,26,3
4,0,0.70,1296950400,6,6,2,2011,0,3,1,1451,0,26,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3902828,1,2.98,1462665600,6,8,5,2016,9,2,0,1432,2,15,0
3902829,0,2.48,1462665600,6,8,5,2016,9,2,0,1433,2,15,0
3902830,1,3.98,1462665600,6,8,5,2016,9,2,0,1434,2,15,0
3902831,1,1.28,1462665600,6,8,5,2016,9,2,0,1435,2,15,0
3902832,1,1.00,1462665600,6,8,5,2016,9,2,0,1436,2,15,0

In [99]:
from code_pkg.data.sets import split_sets_by_time


X_train, y_train, X_val, y_val, X_test, y_test = split_sets_by_time(new_df,'sales',test_ratio=0.2)

In [11]:
from code_pkg.data.sets import save_sets

In [87]:
save_sets(X_train, y_train, X_val, y_val, X_test, y_test, path='/Users/thusondube/Documents/UTS2024/Assignments/A2_24542250/data/processed/')

In [20]:
def if_weekends(df,weekends = [5,6]):
    if df in weekends:
        return 1
    else:
        return 0

In [100]:
X_train.to_csv('/Users/thusondube/Documents/UTS2024/Assignments/A2_24542250/data/processed/X_train.csv',index=False)
X_val.to_csv('/Users/thusondube/Documents/UTS2024/Assignments/A2_24542250/data/processed/X_val.csv',index=False)
X_test.to_csv('/Users/thusondube/Documents/UTS2024/Assignments/A2_24542250/data/processed/X_test.csv',index=False)
y_train.to_csv('/Users/thusondube/Documents/UTS2024/Assignments/A2_24542250/data/processed/y_train.csv',index=False)
y_val.to_csv('/Users/thusondube/Documents/UTS2024/Assignments/A2_24542250/data/processed/y_val.csv',index=False)
y_test.to_csv('/Users/thusondube/Documents/UTS2024/Assignments/A2_24542250/data/processed/y_test.csv',index=False)

In [21]:
df['if_weekend']=df['weekday'].apply(if_weekends)

In [98]:
X_train.head()

AttributeError: 'NoneType' object has no attribute 'head'

In [24]:
from sklearn.linear_model import LinearRegression


model.fit(X_train, y_train)

TypeError: LabelEncoder.fit_transform() takes 2 positional arguments but 3 were given